Detail User: <%= rows.username %>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Username</th>
                    <th scope="col">Full name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Sex</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td>
                            <%= rows.username %>
                        </td>
                        <td>
                            <%= rows.fullname %>
                        </td>
                        <td>
                            <%= rows.address %>
                        </td>
                        <td>
                            <%= rows.sex %>
                        </td>
                        <td>
                            <%= rows.email %>
                        </td>
                    </tr>
            </tbody>
        </table>
    </div>